*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: white ;
}

/* navbar */
.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

.navbar-text{
    transition: color 0.3s ease;
}

.navbar-text:hover{
    color: blueviolet; 
}

.nav-item .nav-link {
    transition: border-bottom-color 0.3s ease;
    border-bottom: 2px solid transparent; 
    font-size: 1.2rem;
    
}
.nav-item .nav-link:hover {
    border-bottom-color: blueviolet; 
    color: blueviolet;
}


/* footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-content p {
    margin: 0;
}

/* portada */
.wrap{
    width: 99vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)), url(../img/abundante.jpg);
    background-size: cover;
    background-position: center;
}
.wrap-texto{
    color: #ffffff;
    text-align: left;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrap-texto h1{
    font-size: 3.5rem;
    margin: 0;
    font-weight: bold;
}

.wrap-texto p {
    font-size: 1.3rem;
    margin-top: 10px;
}

.wrap-texto hr {
    border: 0;
    height: 1px;
    background-color: #ffffff;
    margin: 15px 0;
}

/* card  */
.card-img-author {
    width: 100%;
    height: auto;
    max-height: 270px;
}

/* tabla */
#tabla-libros {
    visibility: visible !important;
    display: table !important;
    width: 100%;
    border-collapse: collapse; 
}

#tabla-libros tbody tr {
    display: table-row;
}
