<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de autores</title>

    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/libros.css' %}">
</head>
<body> 

    <!-- implementacion de navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Biblioteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mx-auto"> 
                {% for Navbars in Navbar %}
                <li class="nav-item active ml-3">
                    <a class="nav-link" href="{{ Navbars.url }}">{{ Navbars.nombre }}<span class="sr-only">(current)</span></a>
                </li>
                {% endfor %}
            </ul>
            <span class="navbar-text ml-4"> 
                Sebastián Roque Fernández
            </span>
        </div>
    </nav>
    


    <!-- presentacion-->

    <div class="row">
        <div class="col-lg-12">
            <div class="wrap">
                <div class="wrap-texto">
                    <h1>Autores </h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <!-- destacados -->

    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Autores de la temporada</h1>
                    <hr>
                    <p class="lead">Han sido nominados como los autores de la temporada por la gran cantidad de sus libros buscados y leidos ultimamente</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row  mt-4 mb-4">
            <div class="col-md-6">
                <div class="card border-dark mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <!-- <img src="{% static 'img/autor_1.jpg' %}" alt="..."> -->
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sarah J. Maas.</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Edad: No especificada.</li>
                                    <li class="list-group-item">Nacionalidad: Estadounidense.</li>
                                    <li class="list-group-item">Libro más famoso: Trono de Cristal.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-dark mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <!-- <img src="{% static 'img/autor_2.jpg' %}" alt="..."> -->
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Victor Hugo.</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Edad: 83 años, falleció en 1885 .</li>
                                    <li class="list-group-item">Nacionalidad: Francés.</li>
                                    <li class="list-group-item">Libro más famoso: Los Miserables.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="card border-dark mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <!-- <img src="{% static 'img/autor_3.jpg' %}" alt="..."> -->
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Victoria Aveyard.</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Edad: No especificada.</li>
                                    <li class="list-group-item">Nacionalidad: Estadounidense.</li>
                                    <li class="list-group-item">Libro más famoso: La Reina Roja.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-dark mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <!-- <img src="{% static 'img/autor_4.jpg' %}" alt="..."> -->
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Terry Pratchett</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Edad: 66 años, falleció en 2015.</li>
                                    <li class="list-group-item">Nacionalidad: Británico.</li>
                                    <li class="list-group-item">Libro más famoso: Los Habitantes del Aire.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- tabla   -->
    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Lista de Autores</h1>
                    <hr>
                    <p class="lead">Aqui le brindaremos una lista de todos los autores que tenemos en nuestra biblioteca</p>
                    <button type="button" class="btn btn-primary" id="ver-lista-autores-btn">Ver Autores</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-dark" id="tabla-Autor" style="display: none;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre del autor</th>
                                <th scope="col">Nacionalidad</th>
                                <th scope="col">Cantidad de libros</th>
                                <th scope="col">Libro reconocido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Iteración sobre los autores -->
                            {% for Autor in Autores %}
                            <tr>
                                <th scope="row">{{ Autor.id_autor }}</th>
                                <td>{{ Autor.nombre }}</td>
                                <td>{{ Autor.nacionalidad }}</td>
                                <td>{{ Autor.cant_libros }}</td>
                                <td>{{ Autor.libro_reconocido }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer class="mt-4">
        <div class="footer-content">
            <p>&copy; 2024 Tu Compañía. Todos los derechos reservados.</p>
            <p>Contáctanos: se.roque@duocuc.cl</p>
            <p>Autor: Sebastián Roque Fernández</p>
        </div>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
